<div class="admin_form_category">
  <h2>Edit Admin Settings</h2>

  <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= f.error_notification %>

    <div class="form-inputs">
      <%= f.input :email, required: true, autofocus: true %>

      <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
        <p>Currently waiting confirmation for: <%= resource.unconfirmed_email %></p>
      <% end %>

      <%= f.input :password,
                  hint: "leave it blank if you don't want to change it",
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :password_confirmation,
                  required: false,
                  input_html: { autocomplete: "new-password" } %>
      <%= f.input :current_password,
                  hint: "we need your current password to confirm your changes",
                  required: true,
                  input_html: { autocomplete: false } %>
      <%= f.input :description, as: :text,
                  placeholder: "#{User.last.description}",
                  required: true %>
      <%= f.input :image, as: :file,
                  required: true %>

      <div class="line_break"></div>
      <h3 class="form_secondary_title">Info page d'accueil.</h3>
      <%= f.input :home_description, as: :text,
                  required: true %>
      <%= f.input :home_image, as: :file,
                  required: true %>
    </div>

    <div class="form-actions admin_form_submit">
      <%= f.button :submit, "Update" %>
    </div>
  <% end %>
  <div class="admin_form_back_btn">
    <%= link_to "Back", :back %>
  </div>
</div>
