<div class="navbar_portfolio">

  <ul class="navbar-links">
    <li class="navbar-item" id="logo_space">
      <%= link_to root_path do %>
        <div id="logo">
          <%= image_tag("icons/Logo_Aymeric.png", alt: "/") %>
          <div id="logo_name">
            Aymeric de Ghellinck d'Elseghem
          </div>
        </div>
      <% end %>
    </li>
    <li class="navbar-item" id="empty_space">

    </li>
    <li class="navbar-item">
      <%= link_to "Réalisations", categories_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "A propos", about_me_path %>
    </li>
    <li class="navbar-item">
      <%= link_to "Contact", contact_path %>
    </li>
  </ul>
  <div class="logo">
    <%= link_to root_path do %>
      <div class="small_logo">
        <div>
          <%= image_tag("icons/Logo_Aymeric.png", alt: "/") %>
        </div>
        <div>
          A. de Ghellinck
        </div>
      </div>
    <% end %>
  </div>
  <div class="burger">
    <div class="line1"></div>
    <div class="line2"></div>
    <div class="line3"></div>
  </div>

</div>

<div class="blanc_nav_space"></div>
