<h1>Products#show</h1>
<p>Find me in app/views/products/show.html.erb</p>

<ul>
  <li>Product name: <%= @product.name %></li>
  <li>Product description: <%= @product.description %></li>
  <li>Present in category: <%= @category.name %></li>
</ul>

<br>
<% unless !@product.image.attached? %>
  <div class="product_img">
    <%= cl_image_tag @product.image.key %>
  </div>
<% end %>

<br>

<p class="btn"><%= link_to "Edit #{@product.name}", edit_category_product_path(@category, @product) %></p><br>
<p class="btn"><%= link_to "Delete Product", category_product_path(@product.category, @product), { method: :delete, data: { confirm: "Are you Sure about Deleting #{@product.name}?" } } %></p>

